.text-center { text-align: center; }

:root {
    --spacing: .5rem !important;
}

BUTTON.fa {
    font-size: 1.25rem;
}


/*============================================================================== 
 * Disable Scrollbar
 *============================================================================*/
::-webkit-scrollbar { display: none }

HTML, HTML *  {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

